html 
html 
    head 
        title Todo List
        style
            include style.css
    body 
        script.
            // function onclick() hide/show newtask input form when click on 'new Task' button
            function newTask() {
                var x = document.getElementById('newTaskForm')
                if(x.style.display === "none")
                    x.style.display = "block"
                else
                    x.style.display = "none"
            }
        div.body
            div.name 
                h1 Your Todolist
            div.newTaskButton
                button(onclick = 'newTask()', type = 'button') New Task
            form#newTaskForm(action = "/home/create", method = "POST", style='display:none')
                textarea.textarea(name="content", cols="50", rows="5" autofocus)
                br
                input.createNewTask(type = "submit", value = "Creat")
            if(type == "createError")
                div(style = 'margin-left: 25%')
                    h5(style = "color: red") #{message}
            each task in tasks
                div.tasks
                    h4 #{task.content}
                    //p id #{task._id}
                    form(action = "/home/edit", method = "POST")
                        input(type = "hidden", name = 'id', value = `${task._id}`)
                        input(type = "hidden", name = 'content', value = `${task.content}`)
                        button(type = "submit") Edit
                    form(action = '/home/delete', method = "POST")
                        input(type = "hidden", name = 'id', value = `${task._id}`)
                        button(type = "submit") Delete
                        if(type == "deleteError")
                            h5(style = "color: red") #{message}